services:
  - type: web
    name: coddojo
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: PORT
        value: 8000
      - key: ENVIRONMENT
        value: production
    healthCheckPath: /api/health
